@import url(https://fonts.googleapis.com/css?family=Work+Sans:regular,500,600&dispay=swap);

:root {
  --bg-color: #121B25;
  --accent-color: #1AA090;
  --text-color: #d6d6d6;
}

html {
box-sizing: border-box;
font-size: 16px;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
font-family: 'Work Sans', sans-serif;
background-color: var(--bg-color);
margin: 0;
padding: 0;
font-weight: normal;
}

body  {
  color: #FFFFFF;
  &._lock {
    overflow: hidden;
  }
}

ol, ul {
list-style: none;
}

img {
max-width: 100%;
height: auto;
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  color: var(--text-color);
}

[class*="__container"] {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 15px;
}

[class*="__title"] {
  font-weight: 600;
  font-size: clamp(1.875rem, 1.648rem + 1.14vw, 2.5rem);
  text-transform: capitalize;
  color: #FFFFFF;
}

.link {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    padding: 22px 42px;
    color: #FFF;
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
    text-transform: capitalize;
    background-color: var(--accent-color);
    transition: property .2s;

    &:hover {
      background-color: #158d7f;
  }
}

// ----- Header -----//


.header {
  padding: clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem) 15px;
  // .header__container

  &__container {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  // .header__logo

  &__logo {
    max-width: 200px;
  }

  // .header__navigation

  &__navigation {
    display: flex;
    align-items: center;
    gap: clamp(1.25rem, -2.799rem + 8.44vw, 4.688rem);
  }

  // .header__menu

  &__menu {}

  

  // .header__buttons

  &__buttons {
    display: flex;
    gap: 5px;
  }

  // .header__btn

  &__btn {
    padding: 11px 20px;
    background-color: transparent; 
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    color: #FFFFFF;
    border: 2px solid var(--accent-color);
    transition: background-color .2s;
    cursor: pointer;
  }
  @media (max-width: 576px) {
    padding: 7px 15px;
  }
}

.menu {
  &-icon {
      display: none;
      @media (max-width: 992px) {
        display: block;
        height: 18px;
        width: 30px;
        position: relative;
        cursor: pointer;
        z-index: 5;

         span {
          transition: all 0.3s ease 0s;
          top: calc(50% - 1px);
          left: 0;
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: #fff;

          &:first-child {
            top: 0;
          }

          &:last-child {
            top: auto;
            bottom: 0;
          }
        }

        &._active {
          span {
            transform: scale(0);

            &:first-child {
              transform: rotate(-45deg);
              top: calc(50% - 1px);
            }

            &:last-child {
              transform: rotate(45deg);
              bottom: calc(50% - 1px);
            }
          }
        }
      }
    }
  
  // .menu__body

  &__body {
    display: flex;
    align-items: center;
    gap: 40px;
    @media (max-width: 992px) {
        position: absolute;
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 80%;
        background-color: var(--accent-color);
        margin: auto;
        overflow: scroll;
        padding: 20px 0;
        transition: left 0.2s;
        z-index: 5;
        &._active{
          left: 0;
        }
      }
  }

  // .menu__item

  &__item {}

  // .menu__link

  &__link {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    transition: color .2s;
    position: relative;
    &:before {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      bottom: -5px;
      background-color: var(--accent-color);
      height: 3px;
      visibility: hidden;
      opacity: 0;
      transition: opacity .3s;
    }
    @media (any-hover: hover) {
      &:hover{
        color: #fff;
        &:before{
          opacity: 1;
          visibility: visible;
          }
        }
      }
      @media (max-width: 992px) {
        line-height: 50px;
        font-size: 30px !important;
      }
    }
}

.login {
  @media (any-hover: hover) {
      &:hover {
        background-color: var(--accent-color);
      }
    }
  @media (max-width: 425px) {
    display: none;
  } 
}

.register {
  background-color: var(--accent-color);
  @media (any-hover: hover){
    &:hover{
      background-color: transparent;
    }
  }
}

// ----- /Header ------ //

// ----- Hero ----- //


.hero {
  position: relative;
  margin-top: clamp(1.25rem, 0.25rem + 5vw, 4.688rem);
  // .hero__container

  &__decor {
    position: absolute;
    bottom: -100px;
    right: 0;
    z-index: -1;
    @media (max-width:768px) {
      height: 300px;
      bottom: -50px;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 90px;
    @media (max-width: 992px) {
      flex-direction: column;
    }
  }

  // .hero__content

  &__content {
    flex: 0 0 calc(700 / 1420)*100%;
    padding-bottom: 160px;
    @media (max-width: 768px) {
      padding-bottom: 40px;
    }
  }

  // .hero__title

  &__title {
    font-weight: 600;
    font-size: clamp(1.875rem, 1.011rem + 4.32vw, 4.25rem);
    line-height: 1.26;
    text-transform: capitalize;
  }

  // .hero__subtitle

  &__subtitle {
    margin-top: 17px;
  }

  // .hero__filter

  &__filter {
    margin-top: 60px;
    height: 100px;
    width: 895px;
    position: absolute;
    background-color: #fff;
    @media (max-width: 992px) {
      width: 100%;
      position: static;
    }
    @media (max-width: 576px) {
      height: 120px;
    }
  }

  // .hero__img

  &__img {
    flex: 0 0 calc(700 / 1420)*100%;
    @media (min-width: 768px) and (max-width:992px) {
      display: none;
    }
  }
  
}



// ----- /Hero ----- //

// ----- Filter ----- //

.filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 165px;
  color: var(--bg-color);
  @media (max-width: 576px) {
    padding-top: 10px;
    grid-template-columns: repeat(3, 1fr);
  }

  
  // .filter__block


  
  &__block {
    &:nth-child(2){
      border-right: 1px solid #E8E8E8;
      border-left: 1px solid #E8E8E8;
    }
  }

  // .filter__btn

  &__btn {
    padding: 5px;
    button{
      cursor: pointer;
      background-color: var(--accent-color);
      height: 100%;
      width: 100%;
      border: none;
      font-weight: 500;
      font-size: 24px;
      text-transform: capitalize;
      color: #FFFFFF;
      &:hover {
        font-size: 25px;
        color: #ccffff;
        background-color: rgb(38, 212, 183);
        transition: all .2s;
      }
      &:active{
        background-color: #158d7f;
      }
    }
    @media (max-width: 576px) {
      padding-top: 0;
      font-size: 18px;
      position: static;
      grid-column: 1/4;
      padding: 10px;
    }
  }
}

.block-filter {
  position: relative;

  // .block-filter__button

  &__button {
    display: flex;
    padding-left: clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem);
    justify-content: center;
    height: 100%;
    flex-direction: column;
  }

  // .block-filter__header

  &__header {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  // .block-filter__type

  &__type {
    padding-right: 2px; 
    cursor: pointer;
  }

  // .block-filter__icon

  &__icon {
    width: 10px;
    height: 7px;
    cursor: pointer;
    background: url('../images/icons/arrow_dropdown.svg') center bottom no-repeat;
    transition: transform .2s;
    &._active{
      transform: rotate(180deg);
    }
  }

  // .block-filter__value

  &__value {
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
    color: var(--bg-color);
  }

  // .block-filter__dropdown

  &__dropdown {
    position: absolute;
    padding: 5px 0;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all .2s;
    box-shadow: 0px 0px 2px var(--bg-color);
    &._active{
      cursor: pointer;
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      transform: translateY(5px); 
    }
  }

  // .block-filter__item

  &__item {
    padding: 10px;
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    color: var(--bg-color);
    cursor: pointer;
    transition: background-color .2s;
    @media (any-hover:hover) {
      &:hover{
        background-color: #adadad;
      }
    }
  }
}

// ----- /Filter ----- //

// ------ Partners ------ //

.featured {
  padding-top: clamp(1.875rem, 0.511rem + 6.82vw, 5.625rem);
  padding-bottom: clamp(1.875rem, -1.534rem + 17.05vw, 11.25rem);
  // .featured__container

  &__container {
    display: block;
  }

  // .featured__title

  &__title {
  }

  // .featured__box

  &__box {
    margin-top: clamp(1.875rem, 1.42rem + 2.27vw, 3.125rem);
    display: flex;
    text-align: center;
    gap: 30px;
    justify-content: space-between;
    overflow: auto;
  }

  // .featured__item

  &__item {
    flex: 0 0 auto;
    cursor: pointer;;
  }
}

// ------ /Partners ------ //

// ------- Popular -------- //

.popular {
  padding: clamp(1.875rem, -1.08rem + 14.77vw, 10rem);
  background: #1a242f url("../images/slider1/slider-bg.png") center center/cover no-repeat;
  // .popular__container

  &__container {

  }

  &__link {
    margin-top: 45px;
    text-align: center;
  }

  &__link a{
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    padding: 22px 42px;
    color: #FFF;
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
    text-transform: capitalize;
    background-color: var(--accent-color);
    transition: property .2s;
    &:hover{
      background-color: #158d7f;
    }
  }
  // .popular__title

  &__title {}

  // .popular__slider

  &__slider {
    margin-top: 40px;
    position: relative;
  }
}

.title {}

.swiper {
  overflow: hidden;
  // .swiper__buttons

  &__buttons {
    position: absolute;
    top: 30%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    @media (max-width: 1500px) {
      top: -100px;
      right: 0;
      width: auto;
      gap: 35px;
    }
  }
}

.popular-slider {



  .popular-slider__thumb

  &__thumb {
    width: 100%;
  }

  // .popular-slider__title

  &__title {
    font-size: clamp(0.938rem, 0.188rem + 3.75vw, 3rem);
  }

  // .popular-slider__subtitle

  &__subtitle {}
}

.swiper-wrapper {
  display: inline-flex;
}

.swiper-slide {}

.popular-slide {
  display: flex;
  flex-direction: column;
  gap: 27px;
  max-width: 100%;
  font-weight: 600;
  font-size: 26px;
  line-height: 1.26;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #FFFFFF;
  // .popular-slide__text

  &__text {}

  // .popular-slide__labels

  &__labels {
    
    display: flex;
    text-align: center;
    height: auto;
    justify-content: flex-start;
    gap: 20px;
  }

  // .popular-slide__label

  &__label {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    color: #FFFFFF;
    flex-wrap: wrap;
  }
}



.popular-slider__prev {
  position: absolute;
  left: -130px;
}

.popular-slider__next {
  transform: rotate(180deg);
  position: absolute;
  right: -130px;
}

.popular-slider-btn {
  cursor: pointer;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background: url("../images/icons/arrow-slider.svg") left 30px center no-repeat;
  border: 1px solid #FFF;

  @media (max-width: 1500px) {
    position: static;
  }
  @media (max-width: 768px) {
    display: none;
  }
}


// ------- /Popular -------- //

// -------- Advantages -------- //

.advantages {
  padding-top: clamp(1.875rem, -1.534rem + 17.05vw, 11.25rem);
  padding-bottom: clamp(1.875rem, 0.398rem + 7.39vw, 5.938rem);
  // .advantages__container

  &__container {}

  // .advantages__title

  &__title {
    text-align: center;
  }

  // .advantages__body

  &__body {
    margin-top: clamp(1.875rem, 1.193rem + 3.41vw, 3.75rem);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: clamp(1.25rem, 0.568rem + 10vw, 3.125rem);
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  // .advantages__item

  &__item {}
}

.item-advantages {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex: 0 0 calc(376 / 1420 * 100%);
  @media (max-width: 768px) {
    padding: 0 clamp(1rem, -2.75rem + 18.75vw, 6.25rem);
  }
  // .item-advantages__img

  &__img {
    padding-top: 0;
    width: clamp(6.25rem, 4.432rem + 9.09vw, 11.25rem);
    height: clamp(6.25rem, 4.432rem + 9.09vw, 11.25rem);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: clamp(1.563rem, 1.313rem + 1.25vw, 2.25rem);
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 50%;
      display: block;
      position: absolute;
      background-color: var(--accent-color);
      opacity: 0.12;
    }
    svg{
      width: 40%;
      height: 40%;
    }
  }

  // .item-advantages__title

  &__title {
    font-weight: 600;
    font-size: 26px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #FFFFFF;
  }

  // .item-advantages__text

  &__text {
    margin-top: 10px;
  }
}

// -------- /Advantages -------- //

// -------- Reviews --------- //

.reviews {
  position: relative;
  padding-bottom: clamp(1.875rem, -1.08rem + 14.77vw, 10rem);
  &__deco {
    position: absolute;
    top: -500px;
    left: 0;
    z-index: -1;
    @media (max-width:475px) {
        width: 300px;
      }
  }
  .swiper-wrapper {
    align-items: flex-start;
  }
  // .reviews__container

  &__container {
    max-width: 1020px; 
    margin: 0 auto;
    position: relative;
  }

  // .reviews__qoutes

  &__qoutes {
    font-size: 100px;
    text-transform: capitalize;
    color: var(--accent-color);
  }

  // .reviews__slider

  &__slider {}
}

.slider-reviews {

  // .slider-reviews__slide

  &__slide {}

  // .slider-reviews__text

  &__text {
    font-weight: 400;
    font-size: clamp(1rem, 0.636rem + 1.82vw, 2rem);
    line-height: 1.57;
    text-transform: capitalize;
    color: #FFFFFF;
    ;
  }

  // .slider-reviews__info

  &__info {}

  // .slider-reviews__name

  &__name {
    margin-top: 40px;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #FFFFFF
  }

  // .slider-reviews__job

  &__job {
    font-weight: 400;
    font-size: 18px;
    color: #D6D6D6;
    padding-bottom: 5px;
  }

  // .slider-reviews__buttons

  &__buttons {
    display: flex;
    align-items: center;
    gap: 70px;
    width: 115px;
    height: 60px;
    position: absolute;
    bottom: 0;
    right: 15px;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      width: 1px;
      height: 100%;
      background: #353F49;
    }
  }

  // .slider-reviews__prev

  &__prev {}

  // .slider-reviews__next

  &__next {}
}

.slider-reviews-btn {
  &.swiper-button-disabled {
    svg{
      fill: #767F89;
    }
  }
  svg{
    fill: #FFF;
  }
}

.slider-reviews__prev {
  
  transform: translateY(-3px) rotate(180deg);
}

.slider-reviews__next {

}

/* -------- Gallery -------- */

.gallery {
  padding: clamp(1.875rem, -1.08rem + 14.77vw, 10rem) 0;
  background: linear-gradient(270deg, #1A242F 0.01%, rgba(26, 36, 47, 0) 82.97%);
  // .gallery__container

  &__container {
    display: flex;
    align-items: center;
    gap: 63px;
    @media (max-width: 1100px) {
      flex-direction: column;
    }
  }

  // .gallery__box

  &__box {
    display: flex;
    align-items: center;
    gap: 20px;
    @media (max-width: 992px) {
      width: 100%;
      text-align: center;
      justify-content: center;
    }
  }

  // .gallery__item

  &__item {
    display: flex;
    width: 350px;
    aspect-ratio: 7/11;
    .swiper-wrapper{
      position: relative;
    }
    img{  
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  // .gallery__info

  &__info {
    @media (max-width: 475px) {
      text-align: center;
      align-items: center;
    }
  }

  // .gallery__title

  &__title {
    @media (min-width: 992px) {
      max-width: 520px;
    }
  }

  // .gallery__text

  &__text {
    margin-top: 22px;
  }

  // .gallery__link

  &__link {
    display: inline-block;
    margin-top: 45px;
    padding: 22px 42px;
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    text-transform: capitalize;
    color: #FFFFFF;
    background-color: var(--accent-color);
  }
}
/* -------- /Gallery -------- */

/*-------Begin-------*/

.begin {
  position: relative;
  padding: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem) 0;
  // .begin__container

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    max-width: 1240px;
    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;
    }
  }

  // .begin__title

  &__title {
    font-weight: 600;
    font-size: clamp(1.875rem, 1.184rem + 3.45vw, 4.25rem);
    text-transform: capitalize;
    line-height: 1.26;
    color: #FFFFFF;
  }

  // .begin__info

  &__info {
    flex: 0 0 50%;
    z-index: 1;
  }

  // .begin__info-text

  &__info-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;
    color: #D6D6D6;
  }

  // .begin__info-btn

  &__info-btn {
    margin-top: clamp(1.25rem, 0.523rem + 3.64vw, 3.75rem);
  }

  // .begin__design-end
  &__rect {
    position: absolute;
    right: 0;
    top: -75px;
    @media (max-width:475px) {
      display: none;
    }
  }
  
  &__wave {
    position: absolute;
    left: 0;
    bottom: -300px;
    z-index: -1;
    @media (max-width:475px) {
      width: 300px;
    }
  }
}

/*-------/Begin-------*/

/*-------Footer-------*/

.footer {
  padding-top: clamp(1.875rem, -0.125rem + 10vw, 8.75rem);
  
  background-color: #1A242F;

  li{
    background-color: #1A242F;
  }

  a {
    text-decoration: none;
  }
  // .footer__main
    .main-footer__container{
    padding-bottom: clamp(1.875rem, 0.784rem + 5.45vw, 5.625rem);
    display: grid;
    gap: clamp(1.875rem, -14.494rem + 26.19vw, 8.75rem);
    grid-template-columns: repeat(5, 1fr);
    @media (max-width:992px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  // .footer__block

  &__block {
    @media (max-width:992px) {
      grid-column: 1/5;
      &:not(:first-child){
        grid-row: 2/3;
        grid-column: auto;
      }
    }
  }

  // .footer__link

  &__link {
    
  }

  // .footer__text

  &__text {
    @media (min-width:992px) {
      width: 340px;
    }
    margin: 22px 0 32px 0;
  }

  // .footer__socials

  &__socials {
    display: flex;
    align-items: center;
    gap: 30px;
    @media (max-width: 600px) {
        justify-content: center;
        text-align: center;
      }
  }

  // .footer__social

  &__social {
    text-decoration: none;
    svg{
      fill: #555e68;
      transition: fill .2s;
    }
    @media (any-hover: hover) {
      &:hover {
        svg {
          fill: #FFF;
        }
      }
    }
    
  }

  // .footer__copyright

  &__copyright {
    border-top: 1px solid #303A44;
    padding: 15px 0;
    .copyright__container{
      display: flex;
      justify-content: space-between;
    }
      
    @media (max-width: 992px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 10px;
    }
  }
}

.links-footer {

  // .links-footer__header

  &__header {
    font-weight: 600;
    font-size: 26px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 10px;
  }

  // .links-footer__list

  &__list {}

  // .links-footer__item

  &__item {}

  // .links-footer__link

  &__link {
    white-space: nowrap;
    transition: all .2s;
    @media (any-hover: hover) {
    &:hover {
        color: white;
      }
    }
  }
}

/*-------/Footer-------*/